.contenu {
	background-color: var(--CouleurBC2);
	width: 100%;
}
.container {
	display: flex;
	align-items: center;

	width: 100%;
	margin: 0 auto;
	max-width: 1500px;
	/* height: 30rem; */
	position: relative;
}
.container .photo {
	width: 100%;
	height: 100%;
	margin: 1rem;
}
.container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.container .appropos h2 {
	margin: 15px 0;
	margin-bottom: 5px;
	font-family: Open Sans, sans-serif;

	font-weight: 400;
	line-height: 1.3;
	text-shadow: 2px 2px 4px #000;
}
.container .appropos h3 {
	margin: 0;
	margin-bottom: 3px;
	font-family: Open Sans, sans-serif;
	padding: 0 12px;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.3;
}
.container .appropos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 1rem;
	height: 100%;
	width: 100%;
	font-family: Open Sans, sans-serif;
	color: var(--CouleurTexteBlanc);
}
.container .appropos p {
	letter-spacing: 0.125rem;
	/* font-size: 1em; */
	/* font-size: 2.1vw; */
	font-family: Open Sans, sans-serif;
	/* font-family: 'Bad Script', cursive; */
	font-weight: 300;
	line-height: 1.1;
	margin: 0;
	margin-left: 0.75rem;

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
}
.nbImage {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	gap: 8px;

	margin: 1.5rem 0 1rem 1rem;
}
.nbImage span {
	width: 10px;
	height: 10px;
	transition: all 0.3s;
	background-color: rgba(240, 248, 255, 0.702);
	border-radius: 50%;
	cursor: pointer;
}
.nbImage .imageAfficher {
	width: 20px;
	border-radius: 20px;
	background-color: rgb(246, 250, 254);
	transform: scale(1.4);
	transition: ease-in 0.5s;
}
.nbImage span:hover {
	background-color: rgba(240, 248, 255, 0.896);
}
@media (min-width: 1000px) {
	.container {
		font-size: calc(2vw - 0.3rem);
	}
}
@media (max-width: 1000px) {
	.container {
		font-size: calc(2vw - 0.2rem);
	}
}

@media (max-width: 650px) {
	.container .appropos {
		flex-direction: column-reverse;
		margin: 0 1rem;
		margin-bottom: 1rem;
	}
	.container {
		flex-wrap: wrap;
	}
	.container .photo {
		margin-left: 1rem;
		margin-bottom: 1rem;
	}

	.container .appropos h2,
	.container .appropos h3 {
		font-size: calc(2vw + 1.2rem);
	}
	.container .appropos p {
		font-size: 16px;
		line-height: 1.2;
	}
}
