.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 1500px;
	margin: 0 auto;
}

.form_container {
	display: flex;
	justify-content: center;
	margin: 0 2rem 2rem 2rem;
	/* align-items: center; */
	/* flex-direction: column; */
	/* max-height: 600px;
	overflow: scroll; */
}
.form > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 380px;
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	background-size: 200% 100%;
	animation: gradient 5s ease infinite;
	padding: 20px;
	border-radius: 20px;
	position: relative;
	color: var(--CouleurTexte);
	margin: 1rem;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 100%;
	}
}
.title {
	font-size: 28px;
	color: var(--CouleurFondBlanc);
	font-weight: 600;
	letter-spacing: -1px;
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.title::before,
.title::after {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 0px;
	background-color: var(--CouleurFondBlanc);
	background: linear-gradient(var(--CouleurFondBlanc), var(--CouleurFondBlanc)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	background-size: 200% 100%;
	animation: gradient 5s ease infinite;
}

.title::before {
	width: 18px;
	height: 18px;
	background-color: var(--CouleurFondBlanc);
}

.title::after {
	width: 18px;
	height: 18px;
	animation: pulse 1s linear infinite;
}

.flex {
	display: flex;
	width: 100%;
	gap: 6px;
}

.form label {
	position: relative;
}

.form label .input {
	width: 100%;
	padding: 10px 10px 20px 10px;
	outline: 0;
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	border-radius: 10px;

	color: var(--CouleurFondBlanc);
}

.form label .input + span {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 0.9em;
	cursor: text;
	transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
	top: 28px;
	font-size: 0.9em;
}
.form label .input:focus {
	border: 1px solid rgb(105, 105, 105);
	transition: all 0.3s;
}

.form label .input:focus ~ span,
.form label .input:valid ~ span {
	top: 30px;
	font-size: 0.7em;
	font-weight: 600;
}

.form label .input:valid + span {
	color: green;
}

.submit {
	font-size: 16px;
	transform: 0.3s ease;
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	outline: none;

	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	transform: 0.3s ease;
}
.submit:hover {
	background-color: var(--CouleurSurvol);
}

.spinner {
	font-size: 16px;
	position: relative;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 150px;
	padding: 10px;
	height: 40px;
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
}

.spinner.center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.spinner .spinner_blade {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 0.074em;
	height: 0.35em;
	border-radius: 0.0555em;
	background-color: transparent;
	-webkit-transform-origin: center -0.2222em;
	-ms-transform-origin: center -0.2222em;
	transform-origin: center -0.2222em;
	animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner_blade:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.spinner .spinner_blade:nth-child(2) {
	-webkit-animation-delay: 0.083s;
	animation-delay: 0.083s;
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.spinner .spinner_blade:nth-child(3) {
	-webkit-animation-delay: 0.166s;
	animation-delay: 0.166s;
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.spinner .spinner_blade:nth-child(4) {
	-webkit-animation-delay: 0.249s;
	animation-delay: 0.249s;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.spinner .spinner_blade:nth-child(5) {
	-webkit-animation-delay: 0.332s;
	animation-delay: 0.332s;
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.spinner .spinner_blade:nth-child(6) {
	-webkit-animation-delay: 0.415s;
	animation-delay: 0.415s;
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}

.spinner .spinner_blade:nth-child(7) {
	-webkit-animation-delay: 0.498s;
	animation-delay: 0.498s;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.spinner .spinner_blade:nth-child(8) {
	-webkit-animation-delay: 0.581s;
	animation-delay: 0.581s;
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}

.spinner .spinner_blade:nth-child(9) {
	-webkit-animation-delay: 0.664s;
	animation-delay: 0.664s;
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}

.spinner .spinner_blade:nth-child(10) {
	-webkit-animation-delay: 0.747s;
	animation-delay: 0.747s;
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.spinner .spinner_blade:nth-child(11) {
	-webkit-animation-delay: 0.83s;
	animation-delay: 0.83s;
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.spinner .spinner_blade:nth-child(12) {
	-webkit-animation-delay: 0.913s;
	animation-delay: 0.913s;
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
	0% {
		background-color: #eaebed;
	}

	100% {
		background-color: transparent;
	}
}
.suivant {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.suivant span {
	border: 1px solid var(--CouleurBordure);
	width: 40%;
	text-align: center;
	background-color: #9c86f6;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	transform: 0.3s ease;
}

.suivant span:hover {
	background-color: var(--CouleurSurvol);
}

@keyframes pulse {
	from {
		transform: scale(0.9);
		opacity: 1;
	}

	to {
		transform: scale(1.8);
		opacity: 0;
	}
}
.container > .radio_inputs {
	margin: 0 2rem;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	box-sizing: border-box;
	background-size: 200% 100%;
	animation: gradient 5s ease infinite;
	padding: 0.25rem;
	width: 370px;
	max-width: 380px;
	font-size: 16px;
	margin-top: 4rem;
}

.radio_inputs .radio {
	flex: 1 1 auto;
	text-align: center;
}

.radio_inputs .radio input {
	display: none;
}

.radio_inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	color: var(--CouleurFondBlanc);
	transition: all 0.15s ease-in-out;
}

.radio_inputs .radio input:checked + .name {
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurStyleRouge), var(--CouleurTexteJaune)) border-box;
	border: 1px solid transparent;
	font-weight: 700;
	color: #fff;
}

.radio_inputs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio_inputs > * {
	margin: 6px;
}
.maske {
	position: fixed;
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.511);
	cursor: default;
}
.popup {
	position: absolute;
	background-color: var(--CouleurBC1);
	height: 30vh;
	min-width: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	background-size: 200% 100%;
	animation: gradient 5s ease infinite;
	border-radius: 1rem;
}
.compte {
	margin-top: 15px;
	font-size: 0.8em;
}
.compte a {
	color: var(--CouleurTexteJaune);
	text-decoration: none;
}
.compte a:hover {
	opacity: 0.6;
	text-decoration: underline;
}
.popup .titre {
	font-family: Open Sans, sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.3;
	margin: 0.5rem 0;
	text-shadow: 2px 2px 4px #000;
	color: var(--CouleurTexteBlanc);
}
.popup .button {
	background: linear-gradient(var(--CouleurBC2), var(--CouleurBC1)) padding-box,
		linear-gradient(145deg, transparent 0%, var(--CouleurTexteJaune), var(--CouleurStyleRouge)) border-box;
	border: 1px solid transparent;
	background-size: 200% 100%;
	animation: Admin_gradient__lzQrN 5s ease infinite;
	background-color: var(--CouleurSurvol);
	padding: 10px;
	outline: none;
	border-radius: 5px;
	transition: all 0.3s;
	color: #fff;
	cursor: pointer;
	text-align: center;
	width: 120px;
}

.popup .button:hover {
	background-color: #785be9;
	transition: ease-in 0.3s;
	text-decoration: none;
}
.erreur {
	color: rgb(252, 63, 63);
	margin: 0;
	margin-top: 5px;
	font-size: 0.8em;
}

@keyframes defileTexte {
	0% {
		transform: translateX(100%); /* Commence avec le texte en dehors de la vue à droite */
	}
	/* 25% {
		transform: translateY(50%); 
	}
	50% {
		transform: translateY(-50%);
	} */
	100% {
		transform: translateX(-100%); /* Termine avec le texte en dehors de la vue à gauche */
	}
}
@media screen and (max-width: 450px) {
	.container {
		font-size: 0.8em;
	}
	.form .title {
		font-size: 1.5em;
	}
	.form p,
	.radio_inputs span {
		font-size: 0.8em;
	}
	.radio_inputs {
		width: 340px;
		max-width: 350px;
	}
}
